<!DOCTYPE html>
<html>
<head>
  <title>The Assembly | Photobooth</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background: linear-gradient(90deg, 
                                white 30px, transparent 1%)
                  center, linear-gradient(white 30px, transparent 1%) center, #ccc;
	    background-size: 32px 32px;
    }

    .container {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgb(238, 238, 238);
      border-radius: 4px;
      width: 600px;
      height: 650px;
      margin-top: 8%;
    }

    #main_heading {
      position: relative;
      top: 3%;
      padding-bottom: 10px;
      border-bottom: 1px solid #aa2a30;
    }

    #logo {
      width: 10%;
    }

    #photobooth_title {
      float: right;
      margin-top: 8px
    }

    .subtext {
      position: relative;
      top: 50px;
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .details_form {
      position: relative;
      top: 8%;
      width: 80%;
      margin: 0 auto;
      height: 60%;
    }

    .details_form_elements {
      width: 80%;
      height: 14%;
      margin-left: 10%;
      margin-top: 10%;
      padding: 10px;
      border: 1px solid #a3a3a3;
      border-radius: 5px;
      outline: none;
    }

    button.details_form_elements {
      background-color: #da504d;
      color: white;
      cursor: pointer;
      outline: none;
    }

    button.details_form_elements:active {
      background-color: #ce454c;
    }

    #error_msg {
      color: red;
      display: inline-block;
      width: 100%;
      margin-left: 10%;
      margin-top: 6%;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 id="main_heading">
      <img id="logo" src="{{ url_for('static', filename='icons/logo_red.jpg') }}" alt="TheAssembly">
      <span id="photobooth_title">Photobooth</span>
    </h1>
    <span class="subtext">
      Welcome to The Assembly Photobooth!<br>Enter your email address below to start sharing your Gitex pics
    </span>
    <div class="details_form">
      <input type="text" name="emails_list" class="details_form_elements" id="emails_input" placeholder="Enter email addresses (separated by comma)">
      <!-- <input type="text" name="twitter_username" class="details_form_elements" placeholder="Enter your Twitter name"> -->
      <button onclick="proceed();" class="details_form_elements">ENTER</button>
      <span style="display:none;" id="error_msg">Error</span>
    </div>
  </div>
</body>
<script src="{{ url_for('static', filename='js/jquery-slim-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-min-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script>
function proceed(){
    var email_addresses = document.getElementById('emails_input').value;
    var error_msg = document.getElementById('error_msg');

    if(email_addresses.trim() == ""){
      error_msg.style.display = "inline-block";
      error_msg.innerHTML = "Enter an email address";
      return;
    }

    $.ajax({
        url: "{{ url_for('validate_details') }}",
        data: {emails: email_addresses},
        type: 'POST',
        error: function(){
            error_msg.innerHTML = "Error! Try again"
        },
        success: function(data){
          // The server returns error messages if email is invalid
          // If email is valid, then it redirects to next page
          if(data != "Success"){
            error_msg.style.display = "inline-block";
            error_msg.innerHTML = data
          } else {
            // Redirect
            error_msg.style.display = "none";
            window.location.replace("/index");
          }
        }
    });
}
</script>
</html>