<!DOCTYPE html>
<html>
<head>
  <title>The Assembly | Photobooth</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    #main_heading {
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid #aa2a30;
    }

    #logo {
      width: 10%;
    }

    #photobooth_title {
      float: right;
      margin-top: 8px
    }

    .main_btn {
      width: 103%;
      background-color: #da504d;
      color: white;
      font-weight: bold;
      
      padding: 10px;
      margin-bottom: 15px;

      border: none;
      border-radius: 7px;

      cursor: pointer;
    }

    .main_btn:active {
      background-color: #ce454c;
    }

    .main_btn:disabled {
      background-color: #dc7e7c;
      cursor: default;
    }

    #tweet_btn {
      background-color: #1C88CC;
    }

    #tweet_btn:active {
      background-color: rgb(20, 113, 172);
    }

    #tweet_btn:disabled {
      background-color: #94bad2;
      cursor: default;
    }

    #filters_list {
      width: 103%;
      height: 50px;
      margin-bottom: 15px;
    }

    .user_input_fields {
      margin-left: 8px;
      margin-bottom: 20px;
      width: 97%;
      height: 50px;
    }
        
    #preview_img {
      margin-left: 11px;
      width: 313px;
    }

    .modal-dialog {
      min-width: 700px;
    }

    #additional_emails_input {
      margin-left: 11px;
      margin-bottom: 15px;
      padding: 5px;
      width: 84%;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container col-md-8  ">
    <h1 id="main_heading"><img id="logo" src="{{ url_for('static', filename='icons/logo_red.jpg') }}" alt="TheAssembly"><span id="photobooth_title">Photobooth</span></h1>
    <button type="button" id="emailme_btn" class="main_btn">Email Me</button><br>
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="send_email_btn" class="btn btn-primary">Email</button>
          </div>
        </div>
      </div>
    </div>

    <button id="tweet_btn" class="main_btn">Tweet it</button><br>
    <div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="tweetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Twitter Consent Text -->
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="post_tweet_btn" class="btn btn-primary">Tweet</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CONFIRM TWEET MODAL -->
    <div class="modal fade" id="confirmTweetModal" tabindex="-1" role="dialog" aria-labelledby="confirmTweetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmTweetModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="confirm_tweet_btn" class="btn btn-primary">Confirm Tweet</button>
          </div>
        </div>
      </div>
    </div>

    <button id="print_img" class="main_btn">Print</button><br>
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="printModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="confirm_print_btn" class="btn btn-primary">Print</button>
          </div>
        </div>
      </div>
    </div>
    <img id="video" src="{{ url_for('video_viewer') }}"><br><br>
    <select name="filters_list" id="filters_list" onchange="change_filter()">
      <option value="default">Select a filter</option>
      <option value="sketch">Pencil</option>
      <!-- <option value="old_sketch">Old Sketch</option> -->
      <option value="gaussian">Silhouette</option>
      <option value="adaptive">Outlines</option>
      <option value="pencil">Color Pencil</option>
      <option value="normalized">Watercolor</option>
      <!-- <option value="recursive">Recursive Edge Filter</option> -->
      <option value="detail">Sharpen</option>
      <option value="stylization">Color Sketch</option>
      <option value="stylization_bw">Sketch</option>
      <option value="canny">Edges</option>
      <!-- <option value="sepia">Sepia</option> -->
    </select><br>
  </div>
</body>
<script src="{{ url_for('static', filename='js/jquery-slim-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-min-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script>
  function getLatestImageNum(folder="previews"){
    window.image_count = 1;
    var more = true;

    // As long as there are more pictures in the directory
    while(more){
      path = 'static/images/' + folder + "/" + window.image_count + '.png';

      $.ajax({
        url: path,
        type: 'HEAD',
        error: function() {
          // Image does not exist
          more = false;
          return;
        },
        success: function() {
          // Image does exists
          window.image_count++;
        },
        async: false
      });
    }
    
    return window.image_count - 1;
  }
  
  // Open modal and show preview
  $('#emailme_btn').click(function(event){
    event.preventDefault();

    // Disable button so the user can't click again
    $('#emailme_btn').attr("disabled", true);

    // Change text of the button until modal opens
    $('#emailme_btn').html("Getting your preview ready...");

    $.ajax({
      url: '{{ url_for("get_preview") }}',
      type: 'POST',
      data: {type: 'email'},
      error: function(){
        // Show error
      },
      success: function(data){
        var title = "Email the Photo!";
              
        // Show modal
        $("#emailModal").modal("show");

        // Set modal title
        $('.modal-title').html(title);

        // Set the preview image on the modal body
        $('.modal-body').html('\
          <input type="text" id="additional_emails_input" placeholder="Add additional emails"><br>\
          <img id="preview_img" src="static/images/previews/' + (getLatestImageNum() + - 3) + '.png" />\
          <img id="preview_img" src="static/images/previews/' + (getLatestImageNum() + - 2) + '.png" />\
          <img id="preview_img" src="static/images/previews/' + (getLatestImageNum() + - 1) + '.png" />\
          <img id="preview_img" src="static/images/previews/' + getLatestImageNum() + '.png" />\
        ');

        $('#emailme_btn').html("Email Me!");

        // Enable button after modal opens
        $('#emailme_btn').removeAttr("disabled");
      }
    });
  });

  // Send email with preview
  $('#send_email_btn').click(function(){
    
    // Disable button so the user can't click again
    $('#send_email_btn').attr("disabled", true);

    // Change text of the button while email is sending
    $('#send_email_btn').html("Sending");

    var additional_emails = document.getElementById('additional_emails_input').value;

    $.ajax({
      url: '{{ url_for("send_email") }}',
      type: 'POST',
      data: {additional_emails: additional_emails},
      error: function(){
        alert('Oops! There was an error sending your email');
      },
      success: function(data){
        alert(data);

        $('#send_email_btn').html("Email");

        // Enable button after email is sent
        $('#send_email_btn').removeAttr("disabled");
      }
    });
  });

  // Show preview for Twitter image post
  $('#tweet_btn').click(function(event){
    var filter_selected = $('#filters_list').val();

    // Disable button so the user can't click again
    $('#tweet_btn').attr("disabled", true);

    // Change text of the button until modal opens
    $('#tweet_btn').html("Getting your preview ready...");

    if (filter_selected == "default")
      filter_selected = "";

    $.ajax({
      url: '{{ url_for("get_preview") }}',
      data: { type: "tweet", tweet_filter: filter_selected },
      type: 'POST',
      success: function(data){
        if(data == 'Picture taken'){
          var title = "Tweet the Photo!";
          
          // Show modal
          $("#tweetModal").modal("show");

          // Set modal title
          $('.modal-title').html(title);

          // Set the preview image on the modal body
          $('.modal-body').html('<input type="text" name="twitter_username" id="twitter_username" class="user_input_fields" placeholder="Enter your Twitter Username"><img id="preview_img" src="static/images/previews/' + getLatestImageNum() + '.png" />');
          
          $('#tweet_btn').html("Tweet it on TheAssembly Photobooth!");

          // Enable button after modal opens
          $('#tweet_btn').removeAttr("disabled");
        }
      }
    });
  });

  $('#post_tweet_btn').click(function(){
    var title = "Confirm Tweet";

    // Hide previous modal
    $("#tweetModal").modal("hide");
    
    // Show modal
    $("#confirmTweetModal").modal("show");

    // Confirm modal body
    $(".modal-body").html("Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit libero rem voluptatibus ad explicabo praesentium tempore pariatur asperiores amet aut, porro aliquam iusto provident, facilis temporibus debitis aliquid hic cum?");

    // Set modal title
    $('.modal-title').html(title);
  });

  $('#confirm_tweet_btn').click(function(){
    var username = $("#tweetModal #twitter_username").val().trim();

    // Disable button so the user can't click again
    $('#post_tweet_btn').attr("disabled", true);

    // Change text of the button while photo is posting
    $('#post_tweet_btn').html("Tweeting");

    $.ajax({
      url: '{{ url_for("post_twitter") }}',
      data: {username: username},
      type: 'POST',
      error: function(){
        alert('Oops! There was an error posting your tweet');
      },
      success: function(data){
        alert(data);

        $('#post_tweet_btn').html("Tweet");

        // Enable button after email is sent
        $('#post_tweet_btn').removeAttr("disabled");
      }
    });
  });

  // Open modal and show preview on clicking print
  $('#print_img').click(function(){
    event.preventDefault();
    $('#filters_list').val('default');
    change_filter();

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            // Success
            if(xhr.responseText == 'Success'){
              var title = "Print on Thermal Printer!";
              
              // Show modal
              $("#printModal").modal("show");

              // Set modal title
              $('.modal-title').html(title);

              // Set the preview image on the modal body
              $('.modal-body').html('<img id="print_preview_img" src="static/images/print_previews/' + getLatestImageNum("print_previews") + '.png" />');
            }
        }
    }
    xhr.open("POST", "/print_preview");
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({ status: "true" }));
  });

  $('#confirm_print_btn').click(function(){
    $.ajax({
      url: '{{ url_for("print_img") }}',
      type: 'POST',
      error: function(){
        alert('Oops! There was an error printing your image');
      },
      success: function(data){
        alert(data);
        $('#printModal').modal('hide');
      }
    });
  });
</script>
</html>