<!DOCTYPE html>
<html>
<head>
  <title>The Assembly | Photobooth</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background: linear-gradient(90deg, 
                                white 30px, transparent 1%)
                  center, linear-gradient(white 30px, transparent 1%) center, #ccc;
	    background-size: 32px 32px;
    }

    #image {
      width: 100%; 
      height: 100%; 
      position: fixed; 
      left: 0px; 
      top: 0px; 
      z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
      position: relative;
      text-align: center;
      color: white;
    }

    #video {
      width:65%;
      margin-left:17%;
    }

    #image_overlay {
      width: 65%;
      background-color: red;
      color: white;
      position: absolute;
      bottom: 70px;
      padding: 15px;
      text-align: center;
      font-size: 25px;
      margin-left:17%;
    }
  </style>
</head>
<body>
  <div class="image">
    <span id="image_overlay"><b>Live watercolor video using computer vision. Get your pictures sent to you at The Assembly Photobooth on the iPad!</span><b></span>
    <img id="video" src="/video_viewer?filter={{ filter }}">
  </div>
</body>
<script src="{{ url_for('static', filename='js/jquery-slim-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-min-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script>
function proceed(){
    var email_addresses = document.getElementById('emails_input').value;
    var error_msg = document.getElementById('error_msg');

    if(email_addresses.trim() == ""){
      error_msg.style.display = "inline-block";
      error_msg.innerHTML = "Enter an email address";
      return;
    }

    $.ajax({
        url: "{{ url_for('validate_details') }}",
        data: {emails: email_addresses},
        type: 'POST',
        error: function(){
            error_msg.innerHTML = "Error! Try again"
        },
        success: function(data){
          // The server returns error messages if email is invalid
          // If email is valid, then it redirects to next page
          if(data != "Success"){
            error_msg.style.display = "inline-block";
            error_msg.innerHTML = data
          } else {
            // Redirect
            error_msg.style.display = "none";
            window.location.replace("/index");
          }
        }
    });
}
</script>
</html>
